/* src/Layout/css/layout.css */
.layout-container {
      display: flex;
      min-height: 100vh;
      position: relative;
    }
    
    .layout-content {
      flex: 1;
      margin-left: 260px;
      background-color: white;
      position: relative;
    }
    